@import url('https://fonts.googleapis.com/css2?family=Alata&family=Nunito+Sans:ital,opsz,wght@0,6..12,200;0,6..12,300;0,6..12,500;0,6..12,600;0,6..12,700;0,6..12,800;0,6..12,900;0,6..12,1000;1,6..12,200;1,6..12,300;1,6..12,400;1,6..12,500;1,6..12,600;1,6..12,700;1,6..12,800;1,6..12,900;1,6..12,1000&display=swap');

:root{
    --dark-blue-p: #13005A;
    --mignight-p: #00337C;
    --steelblue-p: #1C82AD;
    --lightseagreen: #03C988;
}


body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}